@{
    #region
    string homepage = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
    #endregion
}
<!DOCTYPE html>
<header>
    <a href="index.html"><p id="logo">LoveB<i class="fa fa-heart-o" aria-hidden="true"></i><i class="fa fa-heart-o" aria-hidden="true"></i>k</p></a>
    <p id="slogan">Helping you find your own love story.</p>
</header>
<html>
<head>
    <title>LoveBook - Register Page</title>
    <link href="css/main.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Itim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="error">
        <p>Error has occured. You've visited a page that should not have been visited in a way that it was visited. (It gets complicated, I know. You broke the internet.) <strong>All you need to know is you should not be here.</strong></p>
        <a href="@homepage">Click Here to the Home Page.</a><br />
        <a href="register.cshtml">Click Here to go to Register page.</a>
        
    </div>
</body>
</html>
<footer>
    Copyright <i class="fa fa-copyright" aria-hidden="true"></i> Konrad Dryniewicz. All rights Reserved. Design by Konrad Dryniewicz, Icons in the form by Font Awesome <i class="fa fa-copyright" aria-hidden="true"></i>
</footer>